* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* 
body {
    background: rgba(0, 0, 0, 0.2);
} */

body {
    background: linear-gradient(to right, #ffcccc, #ff99cc);
    /* 线性渐变背景 */
}

#wrapper {
    margin: 0 auto;
    width: 100%;
}

#header .logo {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#header .icons {
    height: 50px;
    line-height: 50px;
    display: flex;
    font-size: 40px;
    float: left;
    background: #bde4fd;
}

#header .icons li {
    margin: 0 30px;
}

.content h1 {
    padding: 0 50px;
    float: left;
}

.content p {
    padding: 0 50px;
    width: 300px;
}

#banner .image img {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 10px #aaa;
}

.posts img {
    transition: transform 2s ease;
    border-radius: 10px 10px 0 0;
    width: 200px;
}

.actions {
    padding: 0 50px;
    text-align: center;
    font-size: 30px;
}

.features {
    /* display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px; */
    column-count: 4;
    /* 设置列数 */
    column-gap: 20px;
}

.posts article {
    break-inside: avoid;
    /* 防止项被分割到不同的列中 */
    margin-bottom: 20px;
    /* 设置项之间的垂直间距 */
}

.posts {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 30px;
}


/* 设置列间距 */

#sidebar {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    width: 80%;
}

#menu ul li a {
    margin: 0 75px;
    background: #bde4fd;
    transition: transform 0.3s ease;
}